<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
</head>

<!-- body starts -->

<body>
  <div class="container">
    <!-- header starts -->
    <header>
      <ul>
        <li><img class="logo" src="/static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/about">About</a></li>
        {{#if hasUser}}
        <li><a href="/create">Publish Car Listing</a></li>
        <li><a href="/accessory">Add New Accessory</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
      </ul>
    </header>
    <!-- header ends -->

    <!-- main/dynamic part starts -->
    <main>

      {{{body}}}

    </main>
    <!-- main/dynamic part ends -->
  </div>
  <!-- footer starts -->
  <footer>&copy; AutoCat: Using Express.js and Handlebars</footer>
</body>
<!-- body ends -->

</html>