<h1>About AutoCat</h1>
<div class="about">
  <p>
    <i>"AutoCat"</i> created with an education purpose.<a
      href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
    <a href="https://softuni.bg/">Software University</a>.
  </p>
</div>